-
	const preview = [{img:'img/news-2.jpg', alt:'Новость2', titleClass:'preview__news-title', titleText:'Закрыли переход на Солнцевскую линию.', date:'01.01.2019'},{img:'img/news-3.jpg', alt:'Новость3', titleClass:'preview__news-title', titleText:'Подарите мне миллион ?', date:'01.01.2019'},{img:'img/news-4.jpg', alt:'Новость4', titleClass:'preview__news-title', titleText:'Представте, как сейчас кайфует девочка слева ?', date:'01.01.2019'},{img:'img/news-1.jpg', alt:'Новость5', titleClass:'preview__news-title', titleText:'У нас появилась новая услуга!', date:'01.01.2019'}]
main.news-item
	.layout-position
		.news-item__container.container
			.news-item__content
				.news-item__title
					+title('title--c-main title--tt-n', 'У нас появилась новая услуга!')
					.news-item__date 
						time(datetime='2019-01-01')
							+text('text--small', '01.01.2019')
				.news-item__descr
					.news-item__img
						+img('img/serv1-tablet.jpg', 'img')
					.news-item__text
						p
							|Задача организации, в особенности же рамки и место обучения кадров играет важную роль в формировании существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что постоянное информационно-пропагандистское обеспечение нашей деятельности представляет собой интересный эксперимент проверки системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же дальнейшее развитие различных форм деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. 
						p
							|Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание дальнейших направлений развития. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа соответствующий условий активизации. 
						p
							|Задача организации, в особенности же реализация намеченных плановых заданий в значительной степени обуславливает создание соответствующий условий активизации. Значимость этих проблем настолько очевидна, что консультация с широким активом влечет за собой процесс внедрения и модернизации дальнейших направлений развития. Таким образом консультация с широким активом способствует подготовки и реализации новых предложений. 
						p
							|Разнообразный и богатый опыт сложившаяся структура организации требуют от нас анализа существенных финансовых и административных условий. Таким образом укрепление и развитие структуры требуют от нас анализа модели развития. Идейные соображения высшего порядка, а также постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Повседневная практика показывает, что укрепление и развитие структуры требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач.
			.preview.news-item__preview
				.preview__title
					strong.preview__title-text
						|Что ещё?
				ul.preview__items
					each item in preview
						li.preview__item
							a(class='preview__item-link' href='news.html')|Новость 1
								.preview__img
									img(src=`${item.img}` alt=`${item.alt}`)
								.preview__container
									+subtitle(`${item.titleClass}`,`${item.titleText}`)
									.preview__date 
										time(datetime='2019-01-01')
											+text('text--small', `${item.date}`)
