mixin picture(src, format, alt)
	picture
		source(type="image/webp" media='(max-width:600px)' srcset=`${src}-mobile.webp`)
		source(media='(max-width:600px)' srcset=`${src}-mobile${format}`)
		source(type="image/webp" media='(max-width:900px)' srcset=`${src}-tablet.webp`)
		source(media='(max-width:900px)' srcset=`${src}-tablet${format}`)
		source(type="image/webp" srcset=`${src}-desktop.webp`)
		img(src=`${src}-desktop${format}`, alt=`${alt}`)
			