//- [{className:'vk', href:'javascript:void(0)',value:'Вконтакте', img:'img/sprite.svg#vk', width:'24px', height:'14px'}]

mixin social(mainClass,items)
	+list(`${mainClass}`)
		each item in items
			li(class=`${mainClass}__item`)
				a(class=`${mainClass}__link ${mainClass}__link--${item.className}` href=`${item.href}`)
					|!{item.value}
					.social-img
						+svg(`${item.img}`, `${item.width}`, `${item.height}`)